{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Booking page{% endblock %}

{% block content %}
  <h1 class="text-center">Make an Appointment</h1>
  <hr>

  <div class="container w-50 text-center text-white my-5 bg-dark text-bold fs-6 fw-bold py-2 ">
    <form action="" method="POST">{% csrf_token %}
      {{ form|crispy }}

      <br>
      
      <button class="btn btn-primary mb-4" type="submit">Submit</button>
      
    </form>
  </div>
{% endblock %}
