{% extends "base.html" %}

{%block title%}Contact page{% endblock %}

{%block content%}

<div class="container mt-2">
    <div class="card text-center">
        <div class="card-header fw-bold fs-2">
            Contact Us &#x260E;
        </div>
        <div class="card-body">
            <h5 class="card-title">Customer Service:</h5>
            <p class="card-text">For general inquiries and assistance.</p>
            <a href="tel:+1234567890" class="btn btn-primary">Call Now</a>
            <hr>
            <h5 class="card-title">Emergency:</h5>
            <p class="card-text">In case of medical emergencies.</p>
            <a href="tel:+911" class="btn btn-danger">Call Now</a>
        </div>
        <div class="card-footer text-muted">
            We're here to help 24/7.
        </div>
    </div>
</div>

<div class="container-sm mt-2">
    <div class="card text-center">
        <div class="card-header fw-bold">
            Our Location 
        </div>
        <div class="card-body">
            <h5 class="card-title">I Hospital</h5>
            <p class="card-text">123 Main street, Bangalore</p>
            <a href="#" class="btn btn-info">Get Directions</a>
        </div>
        <div class="card-footer text-muted">
            Visit us today!
        </div>
    </div>
</div>

<div class="container mt-2 ">
    <div class="row">
        
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header fw-bold">
                    Social Media Links
                </div>
                <div class="card-body">
                    
                    <a href="#" class="btn btn-info fw-bold text-white">Facebook</a>
                    <a href="#" class="btn btn-info fw-bold text-white">Twitter</a>
                    <a href="#" class="btn btn-info fw-bold text-white">Email</a>

                    
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header fw-bold">
                    Hours of Operation
                </div>
                <div class="card-body fw-bold text-danger">
                    
                    <p>Monday - Friday: 9 AM - 5 PM</p>
                    <p></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>


         

{%endblock%}
